{
    "server":"https://127.0.0.1",
    "disable_ssl":true,
    "token":"Bearer 1|xxxxxxxxxxxxxx",
    "albums":
    [
        {
            "name":"test",
            "path":"./test",
            "permission":"private",
            "time_rename":true,
            "delete_image":false
        }
    ]
}